
div{
    /*margin: 0 auto;
    width: 1280px;
    height: 1626px;
    background: aqua;*/
}
/*h2{
    font-size: 18px;
    line-height: 18px;
}*/
.head {
    text-align: center
}
.height_button {
    font-weight: bolder;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 27px;
    text-align: center;
    /*margin-left: 30%;
    margin-right: 10%;*/
    margin-top: 25.5px;
    display: inline-block;
    color: red;
    box-sizing: content-box;
    width: 100%;

}
.main-head{
    text-decoration: none;
    color: red;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 1em
}
img.Class-picture {
    width: 100%;
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 789px;*/
}

/*.height_button a{color: red;
    text-decoration: none;
    color: red;
}*/
.article_markup {
    text-align: center;
    margin-top: 49px;
    margin-left: 4%;
    box-sizing: border-box;
    width: 89%;
}

.General_information{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-top: 38px;
    /*margin-left: 67px;
    margin-right: 67px;*/
}
.button {
    background: red;
    margin-top: 150px;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    /*box-sizing: border-box;*/
}

.button-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    box-sizing: border-box;
}
.footer_down {
    margin-top: 65px;
    text-align: right;
    font-size: 18px;
    margin-right: 4%;
    letter-spacing: 2.4px;
    box-sizing: border-box;
    width: 89%;
}